body {
	margin: 0px;
	font-size: 1.1em;
	background-color: tomato;
}

footer, nav {
	text-align: center;
}

nav ul li {
	display: inline;
    margin-right: 10px;
}


h1 {
	margin: 30px;
	color: Maroon;
	text-align: center;
	font-size: 200%;
}
img
{
	width: 300px;
	height: 300px;
	margin: 20px;
}
.button
{
	background-color: maroon;
	border: none;
	color: white;
}